<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.math.mapper.TestMathTfMapper">

    <resultMap type="TestMathTf" id="TestMathTfResult">
        <result property="questionId"    column="question_id"    />
        <result property="content"    column="content"    />
        <result property="choiceOne"    column="choice_one"    />
        <result property="choiceTwo"    column="choice_two"    />
        <result property="answer"    column="answer"    />
    </resultMap>

    <sql id="selectTestMathTfVo">
        select question_id, content, choice_one, choice_two, answer from test_math_tf
    </sql>

    <select id="selectTestMathTfList" parameterType="TestMathTf" resultMap="TestMathTfResult">
        <include refid="selectTestMathTfVo"/>
        <where>
            <if test="questionId != null  and questionId != ''"> and question_id like concat('%', #{questionId}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
        </where>
    </select>

    <select id="selectTestMathTfByQuestionId" parameterType="String" resultMap="TestMathTfResult">
        <include refid="selectTestMathTfVo"/>
        where question_id = #{questionId}
    </select>

    <insert id="insertTestMathTf" parameterType="TestMathTf">
        <selectKey keyProperty="questionId" resultType="String" order="BEFORE">
            select concat(date_format(curdate(), '%Y%m%d'), IFNULL((count(*) + 1), 1))
            from test_math_tf
            where substr(question_id, 1, 8) = date_format(curdate(), '%Y%m%d')
        </selectKey>
        insert into test_math_tf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            question_id,
            <if test="content != null and content != ''">content,</if>
            <if test="choiceOne != null and choiceOne != ''">choice_one,</if>
            <if test="choiceTwo != null and choiceTwo != ''">choice_two,</if>
            <if test="answer != null and answer != ''">answer,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{questionId},
            <if test="content != null and content != ''">#{content},</if>
            <if test="choiceOne != null and choiceOne != ''">#{choiceOne},</if>
            <if test="choiceTwo != null and choiceTwo != ''">#{choiceTwo},</if>
            <if test="answer != null and answer != ''">#{answer},</if>
         </trim>
    </insert>

    <update id="updateTestMathTf" parameterType="TestMathTf">
        update test_math_tf
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="choiceOne != null and choiceOne != ''">choice_one = #{choiceOne},</if>
            <if test="choiceTwo != null and choiceTwo != ''">choice_two = #{choiceTwo},</if>
            <if test="answer != null and answer != ''">answer = #{answer},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteTestMathTfByQuestionId" parameterType="String">
        delete from test_math_tf where question_id = #{questionId}
    </delete>

    <delete id="deleteTestMathTfByQuestionIds" parameterType="String">
        delete from test_math_tf where question_id in
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>
</mapper>
